@*<form action="~/Home/Search">
    <p>Search Movie By Title:</p>
    <input name="title" type="text" />
    <input type="submit" />
</form>

<form action="~/Home/MovieList">
    <p>Get Many Movies By Title:</p>
    <input name="title" type="text" />
    <input type="submit" />
</form>*@

<form action="~/Home/GetDeck">
    <input type="submit" value="Draw A Fresh Deck" />
</form>